[Unit]
Description=demo fastapi application
After=network.target

[Service]
User=anand
Group=anand
WorkingDirectory=/home/anand/app/src/
Environment="PATH=/home/anand/app/venv/bin"
EnvironmentFile=/home/anand/.env
ExecStart=/home/anand/app/venv/bin/gunicorn -w 4 -k uvicorn.workers.UvicornWorker app.main:app --bind 0.0.0.0:8000

[Install]
WantedBy=multi-user.target